<div class="centerDetailRecipes" >
    <div  *ngIf="recipe">
      <h1 >{{recipe[0].label}}</h1>
      <img alt="Image of {{recipe[0].label}}" src="{{recipe[0].image}}">
      <div >
        <p>Ingredients:  {{recipe[0].ingredientLines}}</p>
        <p>Health Labels: {{recipe[0].healthLabels}}</p>
        <p>Total Calories: {{recipe[0].calories}}</p>
  
        <button [disabled]="clicked" (click)=saveRecipe(); clicked = true; >Click here to put in to favorites</button>
        <button  (click)="backToRecipes()">Back To home Page</button>
      </div>
    </div>
  </div>

